@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,300;0,400;0,500;0,700;1,800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css");
body {
    font-family: 'Source Code Pro', monospace;
    background-color: #B07219;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 2000 1500'%3E%3Cdefs%3E%3CradialGradient id='a' gradientUnits='objectBoundingBox'%3E%3Cstop offset='0' stop-color='%23F5E1C0'/%3E%3Cstop offset='1' stop-color='%23B07219'/%3E%3C/radialGradient%3E%3ClinearGradient id='b' gradientUnits='userSpaceOnUse' x1='0' y1='750' x2='1550' y2='750'%3E%3Cstop offset='0' stop-color='%23d3aa6d'/%3E%3Cstop offset='1' stop-color='%23B07219'/%3E%3C/linearGradient%3E%3Cpath id='s' fill='url(%23b)' d='M1549.2 51.6c-5.4 99.1-20.2 197.6-44.2 293.6c-24.1 96-57.4 189.4-99.3 278.6c-41.9 89.2-92.4 174.1-150.3 253.3c-58 79.2-123.4 152.6-195.1 219c-71.7 66.4-149.6 125.8-232.2 177.2c-82.7 51.4-170.1 94.7-260.7 129.1c-90.6 34.4-184.4 60-279.5 76.3C192.6 1495 96.1 1502 0 1500c96.1-2.1 191.8-13.3 285.4-33.6c93.6-20.2 185-49.5 272.5-87.2c87.6-37.7 171.3-83.8 249.6-137.3c78.4-53.5 151.5-114.5 217.9-181.7c66.5-67.2 126.4-140.7 178.6-218.9c52.3-78.3 96.9-161.4 133-247.9c36.1-86.5 63.8-176.2 82.6-267.6c18.8-91.4 28.6-184.4 29.6-277.4c0.3-27.6 23.2-48.7 50.8-48.4s49.5 21.8 49.2 49.5c0 0.7 0 1.3-0.1 2L1549.2 51.6z'/%3E%3Cg id='g'%3E%3Cuse href='%23s' transform='scale(0.12) rotate(60)'/%3E%3Cuse href='%23s' transform='scale(0.2) rotate(10)'/%3E%3Cuse href='%23s' transform='scale(0.25) rotate(40)'/%3E%3Cuse href='%23s' transform='scale(0.3) rotate(-20)'/%3E%3Cuse href='%23s' transform='scale(0.4) rotate(-30)'/%3E%3Cuse href='%23s' transform='scale(0.5) rotate(20)'/%3E%3Cuse href='%23s' transform='scale(0.6) rotate(60)'/%3E%3Cuse href='%23s' transform='scale(0.7) rotate(10)'/%3E%3Cuse href='%23s' transform='scale(0.835) rotate(-40)'/%3E%3Cuse href='%23s' transform='scale(0.9) rotate(40)'/%3E%3Cuse href='%23s' transform='scale(1.05) rotate(25)'/%3E%3Cuse href='%23s' transform='scale(1.2) rotate(8)'/%3E%3Cuse href='%23s' transform='scale(1.333) rotate(-60)'/%3E%3Cuse href='%23s' transform='scale(1.45) rotate(-30)'/%3E%3Cuse href='%23s' transform='scale(1.6) rotate(10)'/%3E%3C/g%3E%3C/defs%3E%3Cg transform='rotate(0 0 0)'%3E%3Cg transform='rotate(0 0 0)'%3E%3Ccircle fill='url(%23a)' r='3000'/%3E%3Cg opacity='0.5'%3E%3Ccircle fill='url(%23a)' r='2000'/%3E%3Ccircle fill='url(%23a)' r='1800'/%3E%3Ccircle fill='url(%23a)' r='1700'/%3E%3Ccircle fill='url(%23a)' r='1651'/%3E%3Ccircle fill='url(%23a)' r='1450'/%3E%3Ccircle fill='url(%23a)' r='1250'/%3E%3Ccircle fill='url(%23a)' r='1175'/%3E%3Ccircle fill='url(%23a)' r='900'/%3E%3Ccircle fill='url(%23a)' r='750'/%3E%3Ccircle fill='url(%23a)' r='500'/%3E%3Ccircle fill='url(%23a)' r='380'/%3E%3Ccircle fill='url(%23a)' r='250'/%3E%3C/g%3E%3Cg transform='rotate(0 0 0)'%3E%3Cuse href='%23g' transform='rotate(10)'/%3E%3Cuse href='%23g' transform='rotate(120)'/%3E%3Cuse href='%23g' transform='rotate(240)'/%3E%3C/g%3E%3Ccircle fill-opacity='0.1' fill='url(%23a)' r='3000'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
    background-attachment: fixed;
    background-size: cover;
    /* user-select: none; */
}

body::-webkit-scrollbar {
    width: 7px;
    background-color: #583606;
}

body::-webkit-scrollbar-thumb {
    background-color: #ffffff;
}

.img-project {
    width: 100%;
    max-width: 500px;
    border-radius: 10px;
    background-color: #ffffff;
}

.img-project:hover {
    cursor: zoom-in;
    opacity: 0.4;
    transition: .7s ease;
}

.img-avatar {
    -webkit-animation: rotate-scale-down 0.65s linear both;
    animation: rotate-scale-down 0.65s linear both;
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
    color: #583606 !important;
}

ul>li>p>a {
    text-decoration: none;
}

a {
    color: #794b0b;
}

a:hover {
    color: #B07219;
    background-color: #e2c69f;
}

hr {
    border: 2px #583606 solid;
}

.list-group-item {
    background-color: transparent;
}

.list-group-item:hover {
    background-color: #e2c69f;
    color: #583606;
    cursor: pointer;
}

.dashed-top {
    border-top: 2px #B07219 dashed;
}

.container-glass {
    background: rgba(255, 255, 255, 0.664);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
}

.container-blog,
.container-project {
    border: 2px #583606 solid;
}

.container-project {
    position: relative;
}

.btn-expand-projects {
    background-color: #e2c69f;
    border: 2px #583606 solid;
    color: #583606;
    border-radius: 0 !important;
}

.btn-menu {
    color: #583606;
    border: 3px #583606 solid;
    border-radius: 0%;
    background-color: #583606;
}

.btn-menu:hover {
    cursor: pointer;
    background-color: white;
}

.container-blog:hover {
    background-color: #e2c69f;
    cursor: pointer;
    color: white;
}

.card {
    border: 2px solid #e2c69f !important;
    border-radius: 8px !important;
    background-color: #fff1e06b !important;
}

.card img {
    padding: 10px !important;
    width: 100%;
}

.card-focus:hover {
    transform: scale(1.01)
}

.tag-blog {
    background-color: #e2c69f;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 7px;
    padding-bottom: 7px;
    border: 1px #e2c69f solid;
    border-radius: 4px;
    margin-right: 5px;
    color: #583606;
}

.tag-blog:hover {
    background-color: #583606;
    color: white;
    cursor: default;
}

.button-brown {
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 7px;
    padding-bottom: 7px;
    background-color: #e2c69f;
    border: none !important;
    border-radius: 4px;
    margin-right: 5px;
    color: #583606;
}

.button-brown:hover {
    background-color: #583606;
    color: white;
}

.unstyle-link {
    text-decoration: none;
    color: inherit;
}

.text-brown {
    color: #583606;
}

span {
    display: inline-block;
}

.loading {
    color: #583606;
}

.bg-antique {
    background-color: #e2c69f;
}

.text-antique {
    color: #583606;
}


/* .modal-content {
    color: #583606;
    border: 2px #583606 solid;
    background-color: #F5E1C0;
} */

.modal-content {
    background: #fff4e2b0;
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
}

.btn-close {
    color: #583606;
    background: transparent url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23000'%3e%3cpath d='M.293.293a1 1 0 011.414 0L8 6.586 14.293.293a1 1 0 111.414 1.414L9.414 8l6.293 6.293a1 1 0 01-1.414 1.414L8 9.414l-6.293 6.293a1 1 0 01-1.414-1.414L6.586 8 .293 1.707a1 1 0 010-1.414z'/%3e%3c/svg%3e") center/1em auto no-repeat;
}

.dashed-line {
    border: 1px #583606 solid;
}

.carousel-control-next-icon {
    background-image: url('arrow-right.svg');
}

.carousel-control-prev-icon {
    background-image: url('arrow-left.svg');
}


/* ----------------------------------------------
 * Generated by Animista on 2022-3-26 9:3:26
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */


/**
 * ----------------------------------------
 * animation rotate-scale-down
 * ----------------------------------------
 */

@-webkit-keyframes rotate-scale-down {
    0% {
        -webkit-transform: scale(1) rotateZ(0);
        transform: scale(1) rotateZ(0);
    }
    50% {
        -webkit-transform: scale(0.5) rotateZ(180deg);
        transform: scale(0.5) rotateZ(180deg);
    }
    100% {
        -webkit-transform: scale(1) rotateZ(360deg);
        transform: scale(1) rotateZ(360deg);
    }
}

@keyframes rotate-scale-down {
    0% {
        -webkit-transform: scale(1) rotateZ(0);
        transform: scale(1) rotateZ(0);
    }
    50% {
        -webkit-transform: scale(0.5) rotateZ(180deg);
        transform: scale(0.5) rotateZ(180deg);
    }
    100% {
        -webkit-transform: scale(1) rotateZ(360deg);
        transform: scale(1) rotateZ(360deg);
    }
}

@media only screen and (max-width: 600px) {
    .container-glass {
        background: rgba(255, 255, 255, 0.6);
        border-radius: 0px !important;
    }
}